<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>HBnB</title>
	<link rel="stylesheet" href="../static/styles/3-header.css">
	<link rel="stylesheet" href="../static/styles/4-common.css">
	<link rel="stylesheet" href="../static/styles/6-filters.css">
	<link rel="stylesheet" href="../static/styles/3-footer.css">
	<link rel="icon" href="../static/images/icon.png">
</head>

<body>
	<div class="pusheame">
		<header>

		</header>
		<div class="container">
			<section class="filters">
				<div class="location">
					<h3 class="ml-35">State</h3>
					<h4>&nbsp;</h4>
					<section class="popover">
						{% for state in states %}
						<H2 class="ml-35">{{ state.name }}</H2>
						<UL>
							{% for city in state.cities|sort(attribute='name') %}
							<LI>{{ city.name }}</LI>
							{% endfor %}
						</UL>
						{% endfor %}
					</section>
				</div>
				<div class="amenities">
					<h3 class="ml-35">Amenities</h3>
					<h4>&nbsp;</h4>
					<section class="popover">
						<ul>
							{%- for amenity in amenities -%}
							<LI>{{ amenity.name }}</LI>
							{% endfor %}
						</ul>
					</section>
				</div>
				<button>Search</button>
			</section>
		</div>
	</div>
	<footer>
		<p>Holberton School</p>
	</footer>
</body>

</html>
